@font-face {
    font-family: "OngleleafBuhungMinJae";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleapHyeonja/OngleapHyeonja.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleapHyeonja/OngleapHyeonja.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleapHyeonja/OngleapHyeonja.ttf") format("truetype");
    font-display: swap;
}

.OngleapHyeonja {
    font-family: "OngleapHyeonja";
}
